@using Casting.Domain.enums
@model Casting.Web.Mvc.Controllers.ViewModels.CandidatoViewModel

@{
    ViewBag.Title = "Idiomas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="maincontent">

    	<div class="left">
		
		<div class="etapas">
			<ul class="formacao">
				<li class="etapa1 ok"></li>
				<li class="etapa2 ok"></li>
				<li class="etapa3 on"></li>
			</ul>
			<div class="clear"></div>
		</div>   
            
         <div class="clear"></div>
        	@using (Html.BeginForm("GravaIdiomas", "Cadastro", null, FormMethod.Post, new { @class = "formPost" }))
            {
        
        	<div class="form_default">
                <fieldset>
                    @Html.HiddenFor(x => x.Id)
                    <legend>Idiomas</legend>    
					
						<div class="clear"></div>                    
                    <p><label class="fl">
                           @Html.CheckBoxFor(x => x.PossuiIngles, new { @checked = Model.PossuiIngles })Inglês
                       </label> 
                            <select name="InglesNivelConhecimento" id="InglesNivelConhecimento" class = "fl optinformatica" style = "margin-top:0; margin-left:66px;" >
                                <option selected="selected" value="0">Selecione</option> 
                                @if (@Model.InglesNivelConhecimento == NivelConhecimento.Básico)
                                {
                                    <option selected="selected" value="@NivelConhecimento.Básico">Básico</option>    
                                }
                                else
                                {
                                    <option value="@NivelConhecimento.Básico">Básico</option>    
                                }
                                @if (@Model.InglesNivelConhecimento == NivelConhecimento.Intermediário)
                                {
                                    <option selected="selected" value="@NivelConhecimento.Intermediário">Intermediário</option> 
                                }
                                else
                                {
                                    <option value="@NivelConhecimento.Intermediário" >Intermediário</option>
                                }
                                @if (@Model.InglesNivelConhecimento == NivelConhecimento.Avançado)
                                {
                                    <option selected="selected" value="@NivelConhecimento.Avançado">Avançado</option>
                                }
                                else
                                {
                                    <option value="@NivelConhecimento.Avançado">Avançado</option>
                                }
                            </select>			

                            <div class="clear"></div>
						</p>
						
							<p><label class="fl">Outros</label>	 
                                <div class="clear"></div>
                                @Html.TextBoxFor(x => x.Idioma2Nome, new { @class="fl sf", style="width:87px;"})
 
                            <select name="Idioma2NivelConhecimento" id="Idioma2NivelConhecimento" class = "fl optinformatica" style = "margin-top:10px; margin-left:16px;" >
                                <option selected="selected" value="0">Selecione</option> 
                                @if (@Model.Idioma2NivelConhecimento == NivelConhecimento.Básico)
                                {
                                    <option selected="selected" value="@NivelConhecimento.Básico">Básico</option>    
                                }
                                else
                                {
                                    <option value="@NivelConhecimento.Básico">Básico</option>    
                                }
                                @if (@Model.Idioma2NivelConhecimento == NivelConhecimento.Intermediário)
                                {
                                    <option selected="selected" value="@NivelConhecimento.Intermediário">Intermediário</option> 
                                }
                                else
                                {
                                    <option value="@NivelConhecimento.Intermediário" >Intermediário</option>
                                }
                                @if (@Model.Idioma2NivelConhecimento == NivelConhecimento.Avançado)
                                {
                                    <option selected="selected" value="@NivelConhecimento.Avançado">Avançado</option>
                                }
                                else
                                {
                                    <option value="@NivelConhecimento.Avançado">Avançado</option>
                                }
                            </select>		
                            </p>
                            <div class="clear"></div>
                            <p>
                                @Html.TextBoxFor(x => x.Idioma3Nome, new { @class="fl sf", style="width:87px;"})
                            <select name="Idioma3NivelConhecimento" id="Idioma3NivelConhecimento" class = "fl optinformatica" style = "margin-top:10px; margin-left:16px;" >
                                <option selected="selected" value="0">Selecione</option> 
                                @if (@Model.Idioma3NivelConhecimento == NivelConhecimento.Básico)
                                {
                                    <option selected="selected" value="@NivelConhecimento.Básico">Básico</option>    
                                }
                                else
                                {
                                    <option value="@NivelConhecimento.Básico">Básico</option>    
                                }
                                @if (@Model.Idioma3NivelConhecimento == NivelConhecimento.Intermediário)
                                {
                                    <option selected="selected" value="@NivelConhecimento.Intermediário">Intermediário</option> 
                                }
                                else
                                {
                                    <option value="@NivelConhecimento.Intermediário" >Intermediário</option>
                                }
                                @if (@Model.Idioma3NivelConhecimento == NivelConhecimento.Avançado)
                                {
                                    <option selected="selected" value="@NivelConhecimento.Avançado">Avançado</option>
                                }
                                else
                                {
                                    <option value="@NivelConhecimento.Avançado">Avançado</option>
                                }
                            </select>
							</p>
							<div class="clear"></div>
			
					
					<!-- BOTÕES -->
					<p style="padding-left:79px; margin-top:10px;">
					  <a href="@Url.Action("Informatica","Cadastro")" class="iconlink3 mg_rt fl"><img src="@Url.Content("~/Content/images/cafe/icons/small/black/left.png")" class="mgright5" alt=""> <span>Voltar</span></a> 
					  <a href="#" id="submitForm" class="iconlink4 fl"><img src="@Url.Content("~/Content/images/cafe/icons/small/white/right.png")" class="mgright5" alt=""> <span>Próxima Etapa</span></a>
					</p>
                   
					<!-- BOTÕES - END -->
                    
                    <div class="clear"></div>

                </fieldset>
            </div><!--form-->      
          		       	
		    }
		<div class="clear"></div>			
		<br />
					
	</div><!-- left -->            
  
	
    <br clear="all" />
    
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#submitForm').click(function () {

            if (jQuery('#PossuiIngles').attr('checked') == "checked" && jQuery('#InglesNivelConhecimento').val() == "0") {
                alert("Selecione seu nível de fluência em Inglês!");
                return true;
            }

            if (jQuery('#Idioma2Nome').val() != "" && jQuery('#Idioma2NivelConhecimento').val() == "0") {
                
                alert("Selecione seu nível de fluência em " + jQuery('#Idioma2Nome').val() + "!");
                return true;
            }

            if (jQuery('#Idioma3Nome').val() != "" && jQuery('#Idioma3NivelConhecimento').val() == "0") {
                alert("Selecione seu nível de fluência em " + jQuery('#Idioma3Nome').val() + "!");
                return true;
            }
            
            jQuery('.formPost').submit();
        });
    });
</script>