@using Casting.Domain.enums
@model Casting.Web.Mvc.Controllers.ViewModels.CandidatoViewModel

@{
    ViewBag.Title = "Informacoes Gerais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="maincontent">

    <div class="left">
		
        <div class="etapas">
            <ul class="meus_dados">
                <li class="etapa1 ok"></li>
                <li class="etapa2 ok"></li>
                <li class="etapa3 on"></li>
                <li class="etapa4"></li>
                <li class="etapa5"></li>
            </ul>
            <div class="clear"></div>
        </div>   
            
        <div class="clear"></div>
		
        @using (Html.BeginForm("GravaInformacoesGerais", "Cadastro", null, FormMethod.Post, new { @class = "formPost" }))
        {
            <div class="form_default">
                <fieldset>
                    @Html.HiddenFor(x => x.Id)
                    <legend>Informações Gerais</legend>    
					
                    <p class="first">                    	
                        <label for="descricao">Sexo:  <em>*</em> </label>
                        <div>
                            <span class="fl">
                                <label>@Html.RadioButtonFor(x => x.Sexo, "Masculino", Model.Sexo == Sexo.Masculino ? (new {@checked = "checked"}) : null) Masculino</label>
                            </span>
                            <span class="fl">
                                <label>@Html.RadioButtonFor(x => x.Sexo, "Feminino", (Model.Sexo != Sexo.Masculino) ? (new { @checked = "checked" }) : null) Feminino</label>
                            </span>							
                            <div class="clear"></div>
                        </div>
                    </p>
					
                    <p>                    	
                        <label for="descricao">Tem filhos?  </label>
					
                        @{
                            var displayAux = "";
                            var possuiFilhos = "";
                            var naoPossuiFilhos = "";
                            if (! @Model.PossuiFilhos)
                            {
                                displayAux = "display:none;";
                                possuiFilhos = "";
                                naoPossuiFilhos = "checked=''";
                            }else
                            {
                                possuiFilhos = "checked=''";
                                naoPossuiFilhos = "";
                            }
                       }
                        <div>
                            <span class="fl">
                                <label><input type="radio" @possuiFilhos value="True" id="tem_filho" name="PossuiFilhos"/> Sim</label>
                            </span>
                            <span class="fl">
                                <label><input type="radio" @naoPossuiFilhos value="False" id="nao_tem_filho" name="PossuiFilhos"/> Não</label>
                            </span>
                            <div class="clear"></div>
                        </div>
                    </p>
				
                    <div id="qnts_filhos" style="@displayAux">
                        <p>                    	
                            <label for="descricao">Quantos?</label>					
                            @Html.TextBoxFor(x => x.QtdeFilhos, new { @class = "pppf", maxlength = 2, onkeypress = "return SomenteNumero(event)" })
                        </p>
						
                    </div>
					
                    <p>                    	
                        <label for="descricao">Estado Civil: <em>*</em> </label>
                        
                        <select name="EstadoCivil" id="EstadoCivil" class="sf">
                            <option selected="selected" value="0">Selecione</option> 
                            @if (@Model.EstadoCivil == EstadoCivil.Solteiro)
                            {
                                <option selected="selected" value="@EstadoCivil.Solteiro">Solteiro</option>    
                            }else
                            {
                                <option value="@EstadoCivil.Solteiro">Solteiro</option>    
                            }
                            @if (@Model.EstadoCivil == EstadoCivil.Casado)
                            {
                                <option selected="selected" value="@EstadoCivil.Casado">Casado</option> 
                            }else
                            {
                                <option value="@EstadoCivil.Casado">Casado</option>
                            }
                            @if (@Model.EstadoCivil == EstadoCivil.UniaoEstavel)
                            {
                                <option selected="selected" value="@EstadoCivil.UniaoEstavel">União Estável</option>
                            }
                            else
                            {
                                <option value="@EstadoCivil.UniaoEstavel">União Estável</option>
                            }
                            @if (@Model.EstadoCivil == EstadoCivil.SeparadoJud)
                            {
                                <option selected="selected" value="@EstadoCivil.SeparadoJud">Separado Judicialmente</option>
                            }
                            else
                            {
                                <option value="@EstadoCivil.SeparadoJud">Separado Judicialmente</option>
                            }
                            @if (@Model.EstadoCivil == EstadoCivil.Viúvo)
                            {
                                <option selected="selected" value="@EstadoCivil.Viúvo">Viúvo</option>
                            }
                            else
                            {
                                <option value="@EstadoCivil.Viúvo">Viúvo</option>
                            }
                        </select>
                    </p>
					
                    <p>
                        <span class="fl">
                            <label for="descricao">Natural de (Cidade): <em>*</em> </label>
                            @Html.TextBoxFor(x => x.NaturalidadeCidade, new {@class = "sf"})
                        </span>
                        <span class="fl">
                            <label for="descricao">UF: </label>
                            @Html.TextBoxFor(x => x.NaturalidadeUf, new {@class = "pppf"})
                        </span>
                        <span class="fl">
                            <label for="descricao">Nacionalidade: <em>*</em> </label>
                            @Html.TextBoxFor(x => x.Nacionalidade, new {@class = "sf"})
                        </span>
                        <div class="clear"></div>
                    </p>
					
                    <p>
                        <span class="fl">
                            <label for="descricao">Cargo pretendido: </label>
                            @Html.TextBoxFor(x => x.CargoPretendido, new {@class = "sf"})
                        </span>
                        <span class="fl"> 

                            <label for="descricao">Como ficou sabendo da vaga: </label>
                            <select name="ComoFicouSabendoDaVaga" class="sf">
                                <option selected="selected" value="">Selecione</option> 
                                @if (@Model.ComoFicouSabendoDaVaga == ComoFicouSabendoDaVaga.Indicação)
                                {
                                    <option selected="selected" value="@ComoFicouSabendoDaVaga.Indicação">Indicação</option>    
                                }
                                else
                                {
                                    <option value="@ComoFicouSabendoDaVaga.Indicação">Indicação</option>    
                                }
                                @if (@Model.ComoFicouSabendoDaVaga == ComoFicouSabendoDaVaga.SiteDaCafe)
                                {
                                    <option selected="selected" value="@ComoFicouSabendoDaVaga.SiteDaCafe">Site da Café</option> 
                                }
                                else
                                {
                                    <option value="@ComoFicouSabendoDaVaga.SiteDaCafe">Site da Café</option>
                                }
                                @if (@Model.ComoFicouSabendoDaVaga == ComoFicouSabendoDaVaga.SiteCatho)
                                {
                                    <option selected="selected" value="@ComoFicouSabendoDaVaga.SiteCatho">Site Catho</option>
                                }
                                else
                                {
                                    <option value="@ComoFicouSabendoDaVaga.SiteCatho">Site Catho</option>
                                }
                                @if (@Model.ComoFicouSabendoDaVaga == ComoFicouSabendoDaVaga.SiteInfojobs)
                                {
                                    <option selected="selected" value="@ComoFicouSabendoDaVaga.SiteInfojobs">Site Info Jobs</option>
                                }
                                else
                                {
                                    <option value="@ComoFicouSabendoDaVaga.SiteInfojobs">Site Info Jobs</option>
                                }
                                @if (@Model.ComoFicouSabendoDaVaga == ComoFicouSabendoDaVaga.SiteCurriculum)
                                {
                                    <option selected="selected" value="@ComoFicouSabendoDaVaga.SiteCurriculum">Site Curriculum</option>
                                }
                                else
                                {
                                    <option value="@ComoFicouSabendoDaVaga.SiteCurriculum">Site Curriculum</option>
                                }   
                                @if (@Model.ComoFicouSabendoDaVaga == ComoFicouSabendoDaVaga.SiteEmpregocerto)
                                {
                                    <option selected="selected" value="@ComoFicouSabendoDaVaga.SiteEmpregocerto">Site Emprego Certo</option>
                                }
                                else
                                {
                                    <option value="@ComoFicouSabendoDaVaga.SiteEmpregocerto">Site Emprego Certo</option>
                                }   

                                @if (@Model.ComoFicouSabendoDaVaga == ComoFicouSabendoDaVaga.JornalOuRevista)
                                {
                                    <option selected="selected" value="@ComoFicouSabendoDaVaga.JornalOuRevista">Jornal Ou Revista</option>
                                }
                                else
                                {
                                    <option value="@ComoFicouSabendoDaVaga.JornalOuRevista">Jornal Ou Revista</option>
                                }   

                                @if (@Model.ComoFicouSabendoDaVaga == ComoFicouSabendoDaVaga.RedesSociais)
                                {
                                    <option selected="selected" value="@ComoFicouSabendoDaVaga.RedesSociais">Redes Sociais</option>
                                }
                                else
                                {
                                    <option value="@ComoFicouSabendoDaVaga.RedesSociais">Redes Sociais</option>
                                }   
                                @if (@Model.ComoFicouSabendoDaVaga == ComoFicouSabendoDaVaga.VisitaAgencia)
                                {
                                    <option selected="selected" value="@ComoFicouSabendoDaVaga.VisitaAgencia">Visita na Agência</option>
                                }
                                else
                                {
                                    <option value="@ComoFicouSabendoDaVaga.VisitaAgencia">Visita na Agência</option>
                                }   
                                @if (@Model.ComoFicouSabendoDaVaga == ComoFicouSabendoDaVaga.ContatoTelefonico)
                                {
                                    <option selected="selected" value="@ComoFicouSabendoDaVaga.ContatoTelefonico">Contato Telefônico</option>
                                }
                                else
                                {
                                    <option value="@ComoFicouSabendoDaVaga.ContatoTelefonico">Contato Telefônico</option>
                                }   
                                @if (@Model.ComoFicouSabendoDaVaga == ComoFicouSabendoDaVaga.Outros)
                                {
                                    <option selected="selected" value="@ComoFicouSabendoDaVaga.Outros">Outros</option>
                                }
                                else
                                {
                                    <option value="@ComoFicouSabendoDaVaga.Outros">Outros</option>
                                }   
                            </select>	
                        </span>
                        <div class="clear"></div>
                    </p>
					
                    <p>
                        <span class="fl">
                            <label for="descricao">Último salário: </label>
                            @Html.TextBoxFor(x => x.UltimoSalario, new {@class = "sf"})
                        </span>
                        <span class="fl">
                            <label for="descricao">Pretensão salarial: </label>
                            @Html.TextBoxFor(x => x.PretensaoSalarial, new {@class = "sf"})
                        </span>
                        <div class="clear"></div>
                    </p>
					
					
                    <div class="clear"></div>
					
					
                    <!-- BOTÕES -->
                    <p style="padding-left: 527px; margin-top: 10px;">
                        <a href="@Url.Action("Documentos", "Cadastro")" class="iconlink3 mg_rt fl"><img src="@Url.Content("~/Content/images/cafe/icons/small/black/left.png")" class="mgright5" alt=""> <span>Voltar</span></a> 
                        <a href="#" id="submitForm" class="iconlink4 fl"><img src="@Url.Content("~/Content/images/cafe/icons/small/white/right.png")" class="mgright5" alt=""> <span>Próxima Etapa</span></a>
                        <div class="clear"></div>
                    </p>
                    <!-- BOTÕES - END -->
                    
                    <div class="clear"></div>

                </fieldset>
            </div>
            <!--form-->
        }		       	
		
        <div class="clear"></div>			
        <br />
					
    </div><!-- left -->            
  
	
    <br clear="all" />
    
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#submitForm').click(function () {
            if (jQuery('#EstadoCivil').val() == "0" || jQuery('#NaturalidadeCidade').val() == "" || jQuery('#Nacionalidade').val() == "" || jQuery('#NomeDaMae').val() == "") {
                alert("Por Favor, preencha todos os campos obrigatórios!");
            } else {
                jQuery('.formPost').submit();
            }
        });
    });
</script>